<h1>Корзина</h1>

<div class="row">
{{#if courses.length}}
{{#each courses}}

    <div class="col s12 m6 ">
        <div class="card">
            <div class="card-image">
                <img src="{{url}}" alt="{{title}}">
            </div>
            <div class="card-content">
                <span class="card-title">{{title}}</span>
                <p class="price">{{price}}</p>
            </div>
        </div>
    </div>

{{/each}}
{{else}}
<p>Корзина пуста</p>
{{/if}}
</div>