<h1>Корзина</h1>

    {{#if courses.length}}
    <table class="striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Кол-во</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}


            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td class="total-table__price">{{price}}</td>
            </tr>


            {{/each}}
        </tbody>
    </table>
    <div class="total">
        <div><strong>Всего</strong></div>
        <div class="price">{{priceJson}}</div>
    </div>
    {{!-- <table>
        <tbody>
            <tr class="total">
                <td>Всего</td>
                <td>{{priceJson}}</td>
            </tr>
        </tbody>
    </table> --}}

    {{else}}
    <p>Корзина пуста</p>
    {{/if}}